$white:     #fff;
$black:     #000000;
$primary:   #202020;
$secondary: #121212;
$red:       #ED3024;
$blue:      #3137C9;
$bg-elements: #181818;
$input: lighten($black, 60);

$tablet-bp: 991px;
$mobile-bp: 700px;